:root {
  --mainColor: #f3f0f5;
  --secondColor: #0d243d;
  --thirdColor: #039aa5;
  --formColor: #039aa521;
  --mainFont: Tahoma, Geneva, sans-serif;
  --headerFont: "Fira Sans Extra Condensed", sans-serif;
  --fancyFont: "Nerko One", cursive;
}

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  background-color: var(--mainColor);
  min-height: 100vh;
  min-width: 350px;
  border: 4px double var(--secondColor)
}

/* name and logo container start*/

.main-header {
  position: relative;
}

.name-and-logo-container {
  width: 100%;
  background-color: #0d243dc7;  
  display: grid;
  grid-template-columns: auto auto;
  justify-content: start;
  align-items: center;
  padding-left: 15px;
  position: absolute;
  top: 0px;
}

.name-and-logo-container img {
  height: 45px;
}

.name-and-logo-container p {
  font-family: var(--headerFont);
  font-size: 2.2rem;
  user-select: none;
  padding: 15px 15px;
  color: var(--mainColor);
}

/* name and logo container end*/

/* slider start*/

.slider-container {
  width: 100%;
  padding-top: 30%;
  background-size: cover;
  background-position: center;
  animation-name: slider;
  animation-duration: 18s;
  animation-iteration-count: infinite;
}

@keyframes slider {
  0% {
    background-image: url("../assets/img/slider1.jpg");
  }
  23.33% {
    background-image: url("../assets/img/slider1.jpg");
  }
  33.33% {
    background-image: url("../assets/img/slider2.jpg");
  }
  56.66% {
    background-image: url("../assets/img/slider2.jpg");
  }
  66.66% {
    background-image: url("../assets/img/slider3.jpg");
  }
  89.99% {
    background-image: url("../assets/img/slider3.jpg");
  }
  100% {
    background-image: url("../assets/img/slider1.jpg");
  }
}

/* slider end*/

/* upper menu start*/

.upper-menu-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
  grid-gap: 1px;
  justify-content: center;
  margin: 1px 0px;
}

.upper-menu-container li {
  list-style: none;
  background-color: var(--secondColor);
  border-radius: 2px;
  text-align: center;
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
  transition: background-color 0.15s ease-in-out;
}

.upper-menu-container li:hover {
  background-color: var(--thirdColor);
}

.upper-menu-container a {
  text-decoration: none;
  width: 100%;
  height: 100%;
  padding: 16px 12px;
}

.upper-menu-container li span {
  font-family: var(--headerFont);
  font-size: 1.4rem;
  color: var(--mainColor);
}

/* upper menu end*/

/* main section */

.introductions-container {
  display: grid;
  justify-items: center;
  width: 100%;
}

.introduction-article {
  display: grid;
  justify-items: center;
  align-items: center;
  justify-content: space-around;
  margin: 50px 0px;
  width: 100%;
}

.introduction-article h1 {
  font-family: var(--headerFont);
  font-size: 2.6rem;
  padding: 0px 0px 10px 0px;
  max-width: 100%;
}

.introduction-article p {
  font-family: var(--mainFont);
  max-width: 100%;
}

.introduction-article label {
  text-align: center;
  max-width: 100%;
}

.introduction-photo-left {
  grid-template-columns: 400px 1fr;
}

.introduction-photo-right {
  grid-template-columns: 1fr 400px;
}

.introduction-photo-left label {
  padding: 0px 40px 0px 0px;
}

.introduction-photo-right label {
  padding: 0px 0px 0px 40px;
}

.introduction-article img {
  width: 300px;
  height: 300px;
  border-radius: 12px;
  box-shadow: 0px 10px 13px -7px #000000;
  border: 15px solid white;
}

.click-for-more {
  font-weight: bold;
  margin: 15px 15px 0px 15px;
}

.line-between-articles {
  width: 85%;
}

#introduction-about-article {
  grid-template-columns: 3fr 5fr;
}

#introduction-about {
  max-width: 100%;
  text-align: center;
  padding: 0px 0px 0px 50px;
}

/* form start */

#introduction-about-form {
  width: 100%;
  display: grid;
  padding: 8px;
  grid-template-columns: 1fr 1fr;
  justify-items: center;
  align-items: center;
  grid-gap: 10px;
  justify-items: center;
  font-family: var(--mainFont);
  padding: 0px 40px 0px 40px;
}

#introduction-about-form h2 {
  font-family: var(--headerFont);
  font-size: 2rem;
  padding: 0px 0px 20px 0px;
}

#introduction-about-form h2, 
#introduction-about-form textarea,
#introduction-about-form label[for="message-email"],
#introduction-about-form label[for="message-text"] {
  grid-column: span 2;
}

#introduction-about-form label[for="message-email"],
#introduction-about-form label[for="message-text"] {
  justify-self: end;
}

#introduction-about-form label, input[type="submit"] {
  font-size: 0.95rem;
}

#message-email, 
#message-text {
  background-color: var(--formColor);
  border: 2px solid var(--secondColor);
  border-radius: 6px;
  width: 250px;
}
#introduction-about-form textarea {
  width: 100%;
  background-color: var(--formColor);
  border: 2px solid var(--secondColor);
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

#introduction-about-form input[type="submit"] {
  width: 120px; 
  padding: 5px;
  background-color: var(--secondColor);
  color: var(--mainColor);
  border-radius: 6px;
  font-family: Arial, Helvetica, sans-serif;
}

/* form end */

/* main section end */

/* footer start */

.footer {
  width: 100%;
  padding: 20px;
  background-color: var(--secondColor);
  color: var(--mainColor);
  font-family: var(--mainFont);
  font-size: 0.9rem;
  text-align: center;
}

/* footer end */

@media all and (max-width: 700px) {

  .name-and-logo-container {
    width: 100%;
    background-color: var(--secondColor);  
    position: initial;
  }

  .name-and-logo-container p {
    font-family: var(--headerFont);
    font-size: 1.6rem;
    user-select: none;
    padding: 12px 12px;
    color: var(--mainColor);
  }

  #main-header-link {
    text-decoration: none;
  }

  .upper-menu-container a {
    padding: 10px 6px;
  }
  
  .upper-menu-container li span {
    font-size: 1.2rem;
  }

  .introduction-article {
  grid-template-columns: 100%;
  margin: 30px 0px;
  }

  .introduction-photo-left h1 {
    padding: 25px 0px 25px 0px;
  }

  .introduction-photo-left label {
    padding: 0px 10px;
  }
  
  .introduction-photo-right label {
    padding: 0px 10px;
  }

  .introduction-photo-right .click-for-more {
    padding: 0px 25px 25px 25px;
  }

#introduction-about-form label[for="message-email"],
#introduction-about-form label[for="message-text"] {
  justify-self: center;
}


#introduction-about-article {
  grid-template-columns: 1fr;
}

#introduction-about {
  padding: 0px 10px;
}

#introduction-about h1 {
  padding: 0px 0px 25px 0px;
}

#introduction-about-form h2{
  padding: 25px 0px 20px 0px;
}

#introduction-about-form {
  padding: 0px 10px 0px 10px;
}

}

@media all and (max-width: 350px) {
  
  .introduction-article {
    grid-template-columns: 100%;
    margin: 20px 0px;
    }

  .introduction-article img {
    width: 300px;
    height: 300px;
  }
}